/*****
 *
 * common stylesheet for docs
 *
 *****/
/* 
http://www.w3schools.com/colors/colors_picker.asp
*/




h1 {
    color: #000099;
	margin: 10px 20px;
}

h2 {
	color: #000099;
	margin: 1
}	

h3 {
	color: #000099;
	padding: 0;
	margin: 0;
}		


#beschreibung {
	margin: 10px 20px;
	width:800px; 
	border: 1px black solid;
	padding: 10px 10px;
} 

#leger{
	background: #e0e0eb;
	border: 1px solid #32324e;
	padding: 15x;
	margin: 10px;
	}
	
li {
	padding: 10px;	
}

p {
  background: #e0e0eb;
  border: 1px solid #32324e;
  padding: 10px;
  margin: 10px;
}


#almen {
	max-width:800px; 
	max-height:500px;
	border: 1px black solid;
	
	padding: 10px 10px;
}

#pulldown {
 margin-top:20px;
 padding: 10px 10px;
 
 }
 
#legende {
	float:right;
	border: 1px black solid;
	padding: 5px 10px 5px 5px;
	text-align:left;
	margin: 10px 10px 10px 10px;
}

#kartenquellen {
	color: #0033cc;
	margin: 15px
	}
	
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
background-color: rgba(221, 221, 221, 0.75);
padding: 0;
margin: 0;
}	
	
html, body, #almen {
    height: 100%;
}